@model Timesheet.Models.Job_Role

@{ ViewBag.Title = $" Delete {Model.JobDescription}"; }

@Html.Partial("_PartialLogout")

<h2>Are you sure you want to delete <b>@Model.JobDescription</b>?</h2>
<div>
    <hr />
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>}
</div>
