@model IEnumerable<Timesheet.Models.Job_Role>

@{ ViewBag.Title = "Index"; }
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("User", "Index", "Users")</li>
        <li>@Html.ActionLink("Doctors", "Index", "Doctors")</li>
        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
        <li>@Html.ActionLink("Job Roles", "Index", "Job_Role")</li>
        <li>@Html.ActionLink("Sectors", "Index", "Sectors")</li>
        <li>@Html.ActionLink("Hour Code", "Index", "HourCodes")</li>
    </ul>
</div>
<p class="text-right">
    <a href="@Url.Action("Logout", "Home")">Log out</a>
</p>
<h2>Job Roles</h2>
<p class="text-right">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayName("Job Description")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.ActionLink(item.JobDescription, "Details", new { id = item.JobRoleID }, new { datatoggle = "tooltip", title = $"Click for details" })

    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.JobRoleID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.JobRoleID })
    </td>
</tr>
}

</table>
