@model Timesheet.Models.Schedule

@{ ViewBag.Title = $" Delete Dr. {Model.Doctor.LastName}"; }

@Html.Partial("_PartialLogout")

<h2>Are you sure you want to delete <b>@Model.Doctor.LastName</b> 's Schedule? </h2>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_In)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_In)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_Out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Out)
        </dd>

        <dt>
            @Html.DisplayName("Pay rate")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Code Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourCode.CodeDescription)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>}
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>