@model Timesheet.Models.HourCode

@{
    ViewBag.Title = "Delete";
}

<style>
    .logout {
        margin-top: 10px;
    }
</style>
<p class="text-right logout">
    <a href="@Url.Action("Logout", "Home")">Log out</a>
</p>
<h2>Delete Hour Code</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeValue)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
    }
</div>
