@model Timesheet.Models.HourCode

@{ ViewBag.Title = $"{Model.CodeDescription} Details"; }

@Html.Partial("_PartialLogout")

<h2> <b>@Model.CodeDescription</b> Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayName("Code Description")
        </dt>

        <dd>
            @Html.ActionLink(Model.CodeDescription, "Edit", new { id = Model.CodeID }, new { datatoggle = "tooltip", title = $"Click to edit {Model.CodeDescription} code" })
        </dd>

        <dt>
            @Html.DisplayName("Code Value")
        </dt>

        <dd>
            $ @Html.ActionLink(Convert.ToString(Model.CodeValue), "Edit", new { id = Model.CodeID }, new { datatoggle = "tooltip", title = $"Click to edit {Model.CodeValue}" })

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
