@model Timesheet.Models.HourCode

@{
    ViewBag.Title = "Details";
}

<style>
    .logout {
        margin-top: 10px;
    }
</style>
<p class="text-right logout">
    <a href="@Url.Action("Logout", "Home")">Log out</a>
</p>
<h2>Hour Code Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Code Description")
        </dt>

        <dd>
            @Html.ActionLink(Model.CodeDescription, "Edit", new { id = Model.CodeID }, new { datatoggle = "tooltip", title = $"Click to edit {Model.CodeDescription} code" })
        </dd>

        <dt>
            @Html.DisplayName("Code Value")
        </dt>

        <dd>
           $ @Html.ActionLink(Convert.ToString(Model.CodeValue), "Edit", new { id = Model.CodeID }, new { datatoggle = "tooltip", title = $"Click to edit {Model.CodeValue}" })

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
