@model Timesheet.Models.Location

@{
    ViewBag.Title = "Create New Location";
}
@Html.Partial("_PartialLogout")

<h2>Create new location</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, ViewBag.ValSummary as string, new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.LocationID, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.ValidationMessageFor(model => model.LocationName, ViewBag.ValLocationName as string, new { @class = "field-validation-error" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SectionID, "Sector", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SectionID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SectionID, ViewBag.ValSectorName as string, new { @class = "field-validation-error" })
        </div>
    </div>

    <div class="form-actions no-color">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
        document.getElementById("SectorName").value = "@ViewBag.strSlectedSector";
        document.getElementById("SectorName").classList.add('form-control');
</script>