@model Timesheet.Models.Location

@{
    ViewBag.Title = "Details";
}
<style>
    .logout {
        margin-top: 10px;
    }
</style>
<p class="text-right logout">
    <a href="@Url.Action("Logout", "Home")">Log out</a>
</p>
<h2>Location Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector.SectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector.SectorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
