@model IEnumerable<Timesheet.Models.Location>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_PartialDocLoc")
<p class="text-right">
    <a href="@Url.Action("Logout", "Home")">Log out</a>
</p>
<h2>Location</h2>
<p class="text-right">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector.SectorName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.LocationName, "Details", new { id = item.LocationID }, new { datatoggle = "tooltip", title = $"Click for {item.LocationName} details" })
                @*@Html.ActionLink(Model.LocationName, "Edit", new { id = Model.LocationID }, new { datatoggle = "tooltip", title = $"Click to edit {Model.LocationName} location" })*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector.SectorName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
            </td>
        </tr>
    }

</table>
@*@model ienumerable<timesheet.models.location>

    @{
        viewbag.title = "index";
    }

    <style>
        th {
            background-color: black;
            color: white;
        }

        a:hover {
            color: blue;
        }
    </style>
    <h2>index</h2>
    <p>
        @html.actionlink("create new", "create")
    </p>
    <table class="table">
        <tr>
            <th>
                @html.displaynamefor(model => model.locationname)
            </th>
            <th>
                @html.displaynamefor(model => model.sector.sectorname)
            </th>
            <th></th>
        </tr>

        @foreach (var item in model)
        {
            <tr>
                <td>
                    @html.displayfor(modelitem => item.locationname)
                </td>
                <td>
                    @html.displayfor(modelitem => item.sector.sectorname)
                </td>
                <td>
                    @html.actionlink("edit", "edit ", new { id = item.locationid },new { htmlattributes =  new { @class = "fa fa-edit" } }) |
                    @html.actionlink("details", "details ", new { id = item.locationid }, new  { @class = "fa fa-info-circle" }) |
                    @html.actionlink("delete", "delete ", new { id = item.locationid }, new { @class = "fa fa-times-circle" })
                </td>
            </tr>
        }

    </table>*@