@model Timesheet.Models.User

@{
    ViewBag.Title = "Details";
    if (Session["email"] == null)
    {
        Response.Redirect("~/Home/login");
    }
}

<div class="d-flex" id="wrapper">
    <div>
        <p class="text-right logout">
            <a href="@Url.Action("Logout", "Home")">Log out</a>
        </p>
        <h2>Details</h2>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Role.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Role.JobDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>