@model IEnumerable<Timesheet.Models.User>

@{
    ViewBag.Title = "Index";
    if (Session["email"] == null)
    {
        Response.Redirect("~/Home/login");
    }
}

    <div class="d-flex" id="wrapper">
        <div>
            <p class="text-right logout">
                <a href="@Url.Action("Logout", "Home")">Logout</a>
            </p>
            <h2 class="text-left welcome">
                Welcome,
                @Session["Name"]
            </h2>
        </div>
        <p class="text-right">
            @Html.ActionLink("Add User", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job_Role.JobDescription)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                var concat = item.FirstName + " " + item.LastName;
                <tr>
                    <td>
                        @Html.ActionLink(concat, "Details", new { id = item.UserID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job_Role.JobDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                        @*@Html.ActionLink("Details", "Details", new { id=item.UserID }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                    </td>
                </tr>
            }

        </table>
    </div>
