@model Timesheet.Models.User
@{
    ViewBag.Title = "Login";

}
<!doctype html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Login</title>
    <style>
 /*       .login {
            position: absolute;
            left: 50%;
            top: 50%;
            border: 1px solid #0094ff;
            padding: 0;
            transform: translate(-50%, -50%);
        }*/
        #login-div {
            position: absolute;
            left: 50%;
            top: 50%;
            border: 1px solid #0094ff;
            padding: 0;
            transform: translate(-50%, -50%);
            border: 1px solid #000000;
        }
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<div class="jumbotron" style="background-color: transparent;"></div>
    <div class="jumbotron">
        <div class="login">

            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div>
                    @Html.EditorFor(model => model.Email, new
                {
                   htmlAttributes = new
                   {
                       @class = "form-control input-sm",
                       @style = "margin: 0px auto; min-width: 300px; height: 40px;",
                            placeholder = @Html.DisplayNameFor(m => m.Email)
                   }
                })
                </div>
                <div class="text-center" style="color: red; margin: 0px auto; padding-right: 110px;">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <br />
                <div style="color: red;">
                    @Html.EditorFor(model => model.Password, new
                {
                   htmlAttributes = new
                   {
                       @class = "form-control input-sm",
                       @style = "margin: 0px auto; min-width: 300px; height: 40px;",
                            placeholder = @Html.DisplayNameFor(model => model.Password)
                   }
                })
                </div>
                <div class="text-center" style="color: red; margin: 0px auto; padding-right: 90px;">
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="text-center" style="color: red; margin: 0px auto; padding-right: 47px;">
                    @Html.DisplayFor(model => model.LoginErrorMessage)
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-offset-6 col-md-12">
                        <input type="submit" value="Login" class="btn btn-primary" />
                        <input type="submit" value="Cancel" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>

    </div>
</html>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>