@model IEnumerable<Timesheet.Models.Doctor>

@{ ViewBag.Title = "Index"; }
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("User", "Index", "Users")</li>
        <li>@Html.ActionLink("Doctors", "Index", "Doctors")</li>
        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
    </ul>
</div>
<p class="text-right">
    <a href="@Url.Action("Logout", "Home")">Log out</a>
</p>
<h2>Select Doctor</h2>
<p class="text-right">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Location")
        </th>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Location.LocationName, "Create", "Schedules", new { id = item.DoctorId }, null)
            </td>
            <td>
                @Html.ActionLink(Convert.ToString(item.FirstName), "Create", "Schedules", new { id = item.DoctorId }, null)
            </td>
            <td>
                @Html.ActionLink(Convert.ToString(item.LastName), "Create", "Schedules", new { id = item.DoctorId }, null)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.DoctorId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DoctorId })
            </td>
        </tr>
}

</table>